# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore Mac OS and Windows system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled binaries
*.out
*.exe
*.dll

# Ignore environment folders
.env/
venv/
ENV/

